@import '../../../assets/constance.less';

.test-section{
    width: 200px;
    background-color: gray; 
    padding: 2px 10px;
    margin: 20px;
    input{
        width: -webkit-fill-available;
        margin: 0px 5px;          
        font-family: @fontfamilybold;
    }
}

@media (max-width: 576px) {
    .test-section{
        width: auto;
    }
}
