<div class="keyboard">
    <div class="row">
        <button (click)="keyPressHandler(1)">1</button>
        <button (click)="keyPressHandler(2)">2</button>
        <button (click)="keyPressHandler(3)">3</button>
    </div>
    <div class="row">            
        <button (click)="keyPressHandler(4)">4</button>
        <button (click)="keyPressHandler(5)">5</button>
        <button (click)="keyPressHandler(6)">6</button>
    </div>
    <div class="row">            
        <button (click)="keyPressHandler(7)">7</button>
        <button (click)="keyPressHandler(8)">8</button>
        <button (click)="keyPressHandler(9)">9</button>
    </div>
    <div class="row">
        <button (click)="keyPressHandler('#')">#</button>
        <button (click)="keyPressHandler(0)">0</button>
        <button (click)="keyBackHandler('BACK')"><-</button>
    </div>
</div>