<div class="info-container">
    <h2>Angular – CSS – ngrx</h2>
    <p>
        Here is the functional design of a converter from number to string value. This converter transforms a
        ‘#’-separated list of numbers into their corresponding letter in the alphabet at that position (0 is
        converted to A, 1 converted to B, …). When arriving to 26, the letter comes back to A.
    </p>     
    <p> As an example, 0#1#2#26#27#52 is converted to ABCABA.</p>
    <p>To enter values, the user must click on a keypad (no way to enter values manually).</p>    
</div>
